.blocking {
    border: 1px solid;
}

.myMsgWrapper {
    margin-left: auto;
    right: 0;
    padding: 5px;
    border: 2px solid blue;
    max-width: 85%;
}

.theirMsgWrapper {
    padding: 5px;
    border: 2px solid red;
    max-width: 85%;
}
