.app-wrapper {
    display: grid;
    grid-template: 8vw 1fr / 1fr minmax(100px, 200px) 3fr 1fr;
    grid-template-areas:
      "z h h k"
      "z s m k";
    /*Почему z и k, а не только z?, а потому что мы таким образом не разделяем прямоугольник надвое. Иначе ошибка*/
    grid-gap: 5px;
    /*width: 1080px;*/
    /*height: auto;*/
    /*margin: 0 auto;*/
}

.App-logo {
    height: 7vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 8s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
